{% extends '_base.html' %}
{% load static from staticfiles %}
{% load helpers %}

{% block title %}{{ link }}{% endblock %}

{% block content %}
{% include 'dcim/inc/link_header.html' with active_tab='info' %}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Link</strong>
        </div>
        <table class="table table-hover panel-body attr-table">
            <tr>
                <td>Name</td>
                <td>
                        {{ link.name }}
                </td>
            </tr>
            <tr>
                <td>Platform</td>
                <td>
                    {% if device.platform %}
                        <span>{{ device.platform }}</span>
                    {% else %}
                        <span class="text-muted">None</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Status</td>
                <td>
                    <span class="label label-{{ device.get_status_class }}">{{ device.get_status_display }}</span>
                </td>
            </tr>
            <tr>
                <td>Primary IPv4</td>
                <td>
                    {% if device.primary_ip4 %}
                        <a href="{% url 'ipam:ipaddress' pk=device.primary_ip4.pk %}">{{ device.primary_ip4.address.ip }}</a>
                        {% if device.primary_ip4.nat_inside %}
                            <span>(NAT for {{ device.primary_ip4.nat_inside.address.ip }})</span>
                        {% elif device.primary_ip4.nat_outside %}
                            <span>(NAT: {{ device.primary_ip4.nat_outside.address.ip }})</span>
                        {% endif %}
                    {% else %}
                        <span class="text-muted">N/A</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Primary IPv6</td>
                <td>
                    {% if device.primary_ip6 %}
                        <a href="{% url 'ipam:ipaddress' pk=device.primary_ip6.pk %}">{{ device.primary_ip6.address.ip }}</a>
                        {% if device.primary_ip6.nat_inside %}
                            <span>(NAT for {{ device.primary_ip6.nat_inside.address.ip }})</span>
                        {% elif device.primary_ip6.nat_outside %}
                            <span>(NAT: {{ device.primary_ip6.nat_outside.address.ip }})</span>
                        {% endif %}
                    {% else %}
                        <span class="text-muted">N/A</span>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
</div>
{% include 'inc/graphs_modal.html' %}
{% endblock %}
